
<!-- Intro Header -->
    <header id="page-top" class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">VOYAGEZ</h1></br>
                        <h1 class="brand-heading">AUTREMENT</h1>
                        <p class="intro-text">Découvrez, vivez, partagez ...</p>
                        <a href="#services" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x deco">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading">Hébergements</h3>
                    <p class="text-muted">Nous sélectionnons pour vous toutes les villas présente chez Exclusive Caraïbes. Suivant notre charte qualité, nous attirbuons une note générale à tous nos produits. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x deco">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-info-circle fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading">Centres d'intérêt</h3>
                    <p class="text-muted">Confiez nous vos envies pour votre séjour. Remplissez le questionnaire avec votre budget, vos goûts, ...</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x deco">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading">Guide touristique</h3>
                    <p class="text-muted">Vous êtes maintenant chez vous et disposez de toutes les informations nécessaires pour passer un agréable séjour.</p>
                </div>
            </div>
        </div>
    </section>
