
<!-- Intro Header -->
    <header id="page-top" class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">VOYAGEZ</h1></br>
                        <h1 class="brand-heading">AUTREMENT</h1>
                        <p class="intro-text">Découvrez, vivez, partagez ...</p>
                        <a href="#services" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x deco">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading">Hébergement</h3>
                    <p class="text-muted">Nous sélectionnons pour vous toutes les villas présente chez Exclusive Caraïbes. Suivant notre charte qualité, nous attirbuons une note générale à tous nos produits. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x deco">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-suitcase fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading">Conciergerie</h3>
                    <p class="text-muted">Confiez nous vos envies pour votre séjour. Remplissez le questionnaire avec votre budget, vos goûts, ...</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x deco">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading">Guide touristique</h3>
                    <p class="text-muted">Vous êtes maintenant chez vous et disposez de toutes les informations nécessaires pour passer un agréable séjour.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Destination Grid Section -->
    <section id="destination" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Destinations</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">

            <div class="col-md-4 col-sm-6 destination-item">
                <a href="#destinationModal1" class="destination-link" data-toggle="modal">
                    <div class="destination-hover">
                        <div class="destination-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="../images/destinations/martinique.jpg" class="img-responsive" alt="">
                </a>
                <div class="destination-caption">
                    <h4>Martinique</h4>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 destination-item">
                <a href="#destinationModal2" class="destination-link" data-toggle="modal">
                    <div class="destination-hover">
                        <div class="destination-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="../images/destinations/guadeloupe.jpg" class="img-responsive" alt="">
                </a>
                <div class="destination-caption">
                    <h4>Guadeloupe</h4>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 destination-item">
                <a href="#destinationModal3" class="destination-link" data-toggle="modal">
                    <div class="destination-hover">
                        <div class="destination-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="../images/destinations/dominique.jpg" class="img-responsive" alt="">
                </a>
                <div class="destination-caption">
                    <h4>Dominique</h4>
                </div>
            </div>
    </section>

    <!-- Destination Modal 1 -->
    <div class="destination-modal modal fade" id="destinationModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Martinique</h2>
                            <p class="item-intro text-muted"></p>
                            <img class="img-responsive img-centered" src="../images/destinations/martinique2.jpg" alt="">
                            <p>Bienvenue en Martinique ! Le voyageur curieux constatera vite que ce décor de carte postale est le reflet édulcoré d'une réalité complexe et passionnante. En effet, l'histoire souvent tragique de la Martinique – à l'instar de toute la région caraïbe – a donné naissance à une culture d'une grande richesse, issue de la synthèse d'éléments africains, amérindiens et européens.
                            </p>

                            <p>
                              La Martinique présente une physionomie et des paysages très contrastés, qui font une grande partie de son charme. Sur ses 350 km de côte se succèdent anses pittoresques, falaises escarpées, lagons turquoise, îlets et mangroves riches en faune et en flore. Dans l'intérieur des terres, campagnes bucoliques, plantations de canne à sucre et bananeraies cèdent la place à de spectaculaires reliefs volcaniques et à une forêt tropicale des plus exubérantes.
                            </p>

                            <p>
                              Vous ferez escale dans d'anciennes habitations coloniales, de luxuriants jardins botaniques, des distilleries où le rhum est l'objet d'un véritable culte. Vous goûterez les secrets épicés de la cuisine créole. Et vous pourrez partager votre temps entre les sports nautiques, la plongée, la randonnée, le canyoning ou le pur et simple farniente sur la plage.
                            </p>

                            <p class="plight">
                                <a href="http://www.exclusive-martinique.com/fr/" target=_blank>
                                  <i class="fa fa-play-circle"></i>  Consulter notre sélection de villas
                                </a>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Destination Modal 2 -->
    <div class="destination-modal modal fade" id="destinationModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Guadeloupe</h2>
                            <p class="item-intro text-muted"></p>
                            <img class="img-responsive img-centered" src="../images/destinations/martinique2.jpg" alt="">
                            <p>Bienvenue en Martinique ! Le voyageur curieux constatera vite que ce décor de carte postale est le reflet édulcoré d'une réalité complexe et passionnante. En effet, l'histoire souvent tragique de la Martinique – à l'instar de toute la région caraïbe – a donné naissance à une culture d'une grande richesse, issue de la synthèse d'éléments africains, amérindiens et européens.
                            </p>

                            <p>
                              La Martinique présente une physionomie et des paysages très contrastés, qui font une grande partie de son charme. Sur ses 350 km de côte se succèdent anses pittoresques, falaises escarpées, lagons turquoise, îlets et mangroves riches en faune et en flore. Dans l'intérieur des terres, campagnes bucoliques, plantations de canne à sucre et bananeraies cèdent la place à de spectaculaires reliefs volcaniques et à une forêt tropicale des plus exubérantes.
                            </p>

                            <p>
                              Vous ferez escale dans d'anciennes habitations coloniales, de luxuriants jardins botaniques, des distilleries où le rhum est l'objet d'un véritable culte. Vous goûterez les secrets épicés de la cuisine créole. Et vous pourrez partager votre temps entre les sports nautiques, la plongée, la randonnée, le canyoning ou le pur et simple farniente sur la plage.
                            </p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Destination Modal 3 -->

    <div class="destination-modal modal fade" id="destinationModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Dominique</h2>
                            <p class="item-intro text-muted"></p>
                            <img class="img-responsive img-centered" src="../images/destinations/martinique2.jpg" alt="">
                            <p>Bienvenue en Martinique ! Le voyageur curieux constatera vite que ce décor de carte postale est le reflet édulcoré d'une réalité complexe et passionnante. En effet, l'histoire souvent tragique de la Martinique – à l'instar de toute la région caraïbe – a donné naissance à une culture d'une grande richesse, issue de la synthèse d'éléments africains, amérindiens et européens.
                            </p>

                            <p>
                              La Martinique présente une physionomie et des paysages très contrastés, qui font une grande partie de son charme. Sur ses 350 km de côte se succèdent anses pittoresques, falaises escarpées, lagons turquoise, îlets et mangroves riches en faune et en flore. Dans l'intérieur des terres, campagnes bucoliques, plantations de canne à sucre et bananeraies cèdent la place à de spectaculaires reliefs volcaniques et à une forêt tropicale des plus exubérantes.
                            </p>

                            <p>
                              Vous ferez escale dans d'anciennes habitations coloniales, de luxuriants jardins botaniques, des distilleries où le rhum est l'objet d'un véritable culte. Vous goûterez les secrets épicés de la cuisine créole. Et vous pourrez partager votre temps entre les sports nautiques, la plongée, la randonnée, le canyoning ou le pur et simple farniente sur la plage.
                            </p>



                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Conciergerie</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">


                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../images/conciergerie/service1.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Un Chef à domicile</h4>
                        <p class="text-muted">Avec Jean-Marc</p>
                    </div>
                </div>


                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../images/conciergerie/service2.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Cours d'art floral</h4>
                        <p class="text-muted">avec Brigitte</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../images/conciergerie/service3.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Pause sérénité</h4>
                        <p class="text-muted">Avec Nathalie</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Un Chef à domicile</h2>
                            <p class="item-intro text-muted"></p>
                            <img class="img-responsive img-centered" src="../images/conciergerie/service1-2.jpg" alt="">
                            <p>Accras de crevette, féroce d’avocat, chiquetaille de morue...notre chef vous initie aux rudiments de la cuisine créole dans un cadre convivial. A l’issue de cette séance découverte dégustez vos réalisations et emportez avec-vous les secrets du chef pour épater vos amis autour d’un apéritif créole dès votre retour !
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Cours d'art floral</h2>
                            <p class="item-intro text-muted"></p>
                            <img class="img-responsive img-centered" src="../images/conciergerie/service2-2.jpg" alt="">
                            <p>C’est avec Brigitte, fleuriste de profession, que nous vous proposons de vous initier à l’art floral. Pendant près de deux heures vous apprendrez à reconnaitre les espèces locales sélectionnées par ses soins puis à les combiner harmonieusement pour crée une composition à la fois graphique et  esthétique.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Pause sérénité</h2>
                            <p class="item-intro text-muted"></p>
                            <img class="img-responsive img-centered" src="../images/conciergerie/service3-2.jpg" alt="">
                            <p>Accordez- vous une parenthèse de bien-être et sélectionnez un soin parmi la large gamme de prestations de notre coach beauté. Un gommage au sucre de canne ou à la noix de coco râpée pour retrouver une peau douce comme de la soie et profiter des bienfaits des produits locaux, un massage relaxant aux huiles délicatement parfumées pour délier en douceur les tensions...il est temps de prendre soin de vous !

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">L'équipe</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="../images/team/1.jpg" class="img-responsive img-circle" alt="">
                        <h4>Romain</h4>
                        <p class="text-muted">CEO</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="../images/team/2.jpg" class="img-responsive img-circle" alt="">
                        <h4>Cyrielle</h4>
                        <p class="text-muted">COO</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>


            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>"Une équipe professionnelle à votre service."</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nous contacter</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Nom</label>
                                <input type="text" class="form-control" placeholder="Nom" id="nom" required data-validation-required-message="Merci de saisir votre nom.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Email</label>
                                <input type="email" class="form-control" placeholder="Email" id="email" required data-validation-required-message="Merci de saisir votre email.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Téléphone</label>
                                <input type="tel" class="form-control" placeholder="Téléphone" id="phone" required data-validation-required-message="Merci de saisir votre téléphone.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Message</label>
                                <textarea rows="5" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Merci de saisir votre message."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-default btn-lg">Envoyez</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
  
